.piano * {
    margin: 0;
    padding: 0;
}
.piano ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.piano li {
    float: left;
    margin: 0;
    padding: 0;
}
.piano .white-keys,
.piano .black-keys {
    position: absolute;
    clear: left;
}
.piano .black-keys {
    /*
    border: 0.2em + 0.1em = 0.3em
    ((2em width + 0.3em border) / 2 centered) - 0.3em border = 0.85 em
    (2em width + 0.2em right-border + 0.1em left-border) / 2 - 
    */
    margin-left: 0.85em;
}
.piano button {
    text-align: center;
    width: 2em;
    float: left;
    border: 0.2em outset #666;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-width: 0.3em;
    border-left-width: 0.1em;
    box-shadow: 0 0 0 0;
}
.piano .white-keys button {
    height: 8em;
    line-height: 12.5em;
    background: white;
    color: black;
}
.piano .black-keys button {
    height: 5em;
    line-height: 7em;
    background: black;
    color: white;
}
.piano .black-key-group {
    /* float: left; */
    margin: 0;
    padding: 0;
    /* TODO: I think the math checks out here, but it looks terrible. 1.65 is a completely wild guess that somehow looks better. Still not perfect though. What's going wrong??  */
    /* margin-right: 1.7em; */
    margin-right: 1.65em;
}
.piano button.pressed {
    border-style: inset;
}